.background {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.form-container {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.register,
.login {
  width: 15%;
  padding: 20px;
  background-color: #333; /* Darker grey for the form container */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Darker shadow for contrast */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* White text for headings */
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #bbb; /* Light grey text for labels */
}

input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #555; /* Darker grey border */
  border-radius: 4px;
  background-color: #444; /* Darker background for input fields */
  color: #fff; /* White text inside inputs */
}

input:focus {
  border-color: #888; /* Lighter grey border on focus */
}

button {
  padding: 10px;
  background-color: #4caf50; /* Green button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.message {
  margin-top: 20px;
  padding: 10px;
  background-color: #444;
  color: #fff;
  border-radius: 4px;
  text-align: center;
}

.user-info-box {
  max-width: 100%;
  width: 300px;
  padding: 16px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.user-info-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-info-box li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #444;
  color: #fff;
  border-radius: 4px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
}

.pets-list {
  margin-top: 20px;
  padding: 20px;
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pets-list h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.pets-list ul {
  list-style: none;
  padding: 0;
}

.pet-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.pet-item span {
  color: #ddd;
  margin-right: 15px;
}

.pet-item button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pet-item button:hover {
  background-color: #45a049;
}
